.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    position: absolute;
    bottom: 0;
    margin: 10px;
    font-size: 1.5em;
    color: black;
    font-family: "Patrick Hand", cursive;
}

.level-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .level-buttons {
        justify-content: center;
    }
}

.level-buttons button {
    margin: 4px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgb(38, 187, 237);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: filter 0.3s, transform 0.2s;
    color: white;
    font-family: "Patrick Hand", cursive;
    font-weight: 700;
}

.level-buttons button:hover {
    filter: brightness(1.1);
}

.level-buttons button:active, .level-buttons button:focus, .level-buttons button.pressed{
    transform: translateY(2px);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.word-container {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .word-container {
        height: 200px;
    }
}

#word {
    font-family: "Patrick Hand", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
}

.buttons {
    margin-top: 2em;
}

.article-button-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transform: scale(1.5);
    margin: 30px;
}

@media (max-width: 768px) {
    .article-button-pushable {
        transform: scale(1.2);
        margin: 15px;
        
    }

    .article-button-front {
        font-size: 1.5rem;
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    .article-button-pushable {
        transform: scale(1);
        margin: 5px;
        width: 90vw;
    }

    .article-button-front {
        padding: 10px 20px;
    }
}

.article-button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
}

.article-button-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
}

.article-button-front {
    display: block;
    position: relative;
    padding: 20px 40px;
    border-radius: 12px;
    font-size: 1.5rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
}

.article-button-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.article-button-pushable:hover .article-button-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
}

.article-button-pushable:active .article-button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.article-button-pushable:hover .article-button-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
}

.article-button-pushable:active .article-button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.article-button-pushable:focus:not(:focus-visible) {
    outline: none;
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 2em;
    opacity: 0.7;
    transition: opacity 1s ease-out;
}

@media (min-height: 839px) {
    .notification {
        font-size: 1.5em;
        top: 40%;
    }
    
}

@media (min-height: 1024px) {
    .notification {
        top: 35%;
    }
}

@media (min-height: 1235px) {
    .notification {
        top: 30%;
    }
}

@media (max-width: 768px) and (min-height: 839px) {
    .notification {
        font-size: 1.5em;
        top: 25%;
        padding: 10px;
    }
}

@media (max-width: 768px) and (max-height: 820px) {
    .notification {
        font-size: 1.5em;
        top: 30%;
        padding: 10px;
    }
}

@media (max-width: 768px) and (max-height: 710px) {
    .notification {
        font-size: 1.5em;
        top: 35%;
        padding: 10px;
    }
}

.notification.correct {
    background-color: green;
}

.notification.incorrect {
    background-color: red;
}

.notification.fade-out {
    opacity: 0;
}